
body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: 'Lato', sans-serif;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-container {
  padding-bottom: 4rem;
}
h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}


.nav-item-container {
  background-color : #dadffd; ;
  margin:0;
  padding:0;
  list-style-type: none;
  overflow:hidden;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}


.nav-item-container > li > a {
  display:inline-block;
  width: 70px;
  height:50px;
  text-align:center;
  text-decoration: none;
  line-height: 50px;
  color:black;
}


li a:hover {
  background-color :#7cfefc;;
  color:black;
}

.intro {
  text-align: center;
  margin:100px 0;
  padding:25px;
  background-color: #01bb89;
}

.title {
  color:black;
  margin: 25px;
  text-align: center;
}

.portfolio {
  display: flex;
  padding: 20px;
  /* width: 60%; */
  margin:10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.portfolio > section {
  padding: 10px;
  margin: 5px;
  display: block;
  width: 300px;
  height:300px;
  /* border:  #FFDEEA solid 10px; */
  text-align: center;
  background-color: #FFDEEA ;
}

#portfolio-1 {
  background-size: 330px;
  background-image: url("../images/portfolio-1-d.jpg");
}

#portfolio-2 {
  background-size: 330px;
  background-image: url("../images/portfolio-2-d.jpg");
}

#portfolio-3 {
  background-size: 330px;
  background-image: url("../images/portfolio-3-d.jpg");
}

#portfolio-4 {
  background-size: 330px;
  background-image: url("../images/portfolio-4-d.jpg");
}

.blogs {
  display: flex;
  padding: 20px;
  /* width: 60%; */
  margin:10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


.blogs > section {
  padding: 10px;
  margin: 5px;
  display: block;
  width: 300px;
  height:300px;
  /* border:  #FFDEEA solid 10px; */
  text-align: center;
  background-color: #FFDEEA ;

}

.blog-post  {
  margin:10% 20%;
  padding:10px;
  border: solid #7cfefc 2px;
}

.blog-post p {
  margin: 10px;
  padding:10px;
  font-size: 22px;
}


.about {
  margin: 2% 25% ;
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 60%;
  border-radius: 25px;
}

footer {
  background-color: #ac79b5;
  color:black;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

footer h4 {
  font-size: 18px;
  display: flex;
  align-content: center;
  justify-content: center;

}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #B3788D; color:#fec8c1;color:#ff6f69 }
.My-Color-Theme-2-hex { color: #FFDEEA; }
.My-Color-Theme-3-hex { color: #FFC5DA; }
.My-Color-Theme-4-hex { color: #66B36C; }
.My-Color-Theme-5-hex { color: #C4FFC9; }
.color_edit {color:#ac79b5,#7cfefc,#01bb89,#dadffd}