
.title {
  color:black;
  margin: 25px;
  text-align: center;
}


.portfolio {
  display: flex;
  padding: 20px;
  margin:10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.portfolio > section {
  padding: 10px;
  margin: 5px;
  display: block;
  width: 300px;
  height:300px;
  /* border:  #FFDEEA solid 10px; */
  text-align: center;
  background-color: #FFDEEA ;
}

#portfolio-1 {
  background-size: 330px;
  background-image: url("../images/portfolio-1-d.jpg");
}

#portfolio-2 {
  background-size: 330px;
  background-image: url("../images/portfolio-2-d.jpg");
}

#portfolio-3 {
  background-size: 330px;
  background-image: url("../images/portfolio-3-d.jpg");
}

#portfolio-4 {
  background-size: 330px;
  background-image: url("../images/portfolio-4-d.jpg");
}