/* header {
  margin: 0;
} */


body {
  margin: 0;
  background-color: #FBEEE4;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

header {
  font-size: 80px;
  color: #FBFAF6;
  text-align: left;
  padding: 8%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 520;
  /* position: fixed */
  /* max-width: 100%; */
}

/* TODO - move color white text to the links class --> color:#FBFAF6 */
nav {
  /* top: 0; */
  /* z-index: 100; */
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  background-color: #202020;
  padding: 10px;
  position: fixed;
  width: 100%
}

.a-nav {
  color: #FBFAF6;
  text-decoration: none;
}

a {
  color: #a9a9a9;
  font-size: 20px;
  text-decoration: none;
}

main {
  min-height: 100%;
  padding-bottom: 20%;
}

footer {
  padding: 10px;
}

#index-header {
  background: url("../images/background-beverage-breakfast-brown-414645.png");
  background-size: 100%;
}

#about-header {
  background: url("../images/blur-book-stack-books-bookshelves-590493.jpg");
  background-size: 100%;
}

#portfolio-header {
  background: url("../images/photograph-of-a-burning-fire-672636.jpg");
  background-size: 100%;
}

#blog-header {
  background: url("../images/photo-of-green-vegetables-3296542.jpg");
  background-size: 100%;
}


