
 /* INDEX*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  margin-right: 2rem;
  

}
.nav-links li {
  padding: 20px;
  text-decoration: none;
  color: black;

}
body {
  margin: 0.5;
  font-size: 21px;
  background-color: rgb(58, 95, 119);
  border-style: double;
  padding: 0%;
}
.header-class {
  text-align: center;
  color: rgb(18, 22, 24);
  padding: 50px;

  
}
.Ada {
  width: 600px;
  text-align: center;
  font-family: cursive;
  margin: 100px auto;

}
.contact {
  padding: 20px;
  margin: 10px;

}
.contact-links {
  display: flex;
  justify-content: flex-start;
 
}




/* PORTFOLIO FILE */
#portfolio-body {
  background-color: #1C0804;
}

/* .project-img {
  width: 50%;
  height: auto;
  border-width: 60px;
  display: flex;
}  */
.project-header {
  color: white;
}

.project-img {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: fill;
  padding: 20px;
  margin: 40px;
}

.ada-projects {
  background: gray;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6rem;
}



/* HOBBY FILE */

.hobby-class {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  width: 1000px;
  margin: 100px;

}
.hobby {
  padding: 30px;

}
.food-img {
  width: 50%;
  height: auto;
  border-radius: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: stretch;

}



/*ABOUT FILE*/
.about-class{
  width: 1000px;
  text-align: center;
  margin: 40px auto;
  
}
