
 /* INDEX*/


.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  margin-right: 2rem;

}
.nav-links li {
  padding: 20px;
  text-decoration: none;

}
body {
  margin: 0.5;
  font-size: 21px;
  background-color: slategray;
  border-style: double;
  padding: 0%;
}
.header-class {
  text-align: center;
  color: cadetblue;
  background-color: darkolivegreen;
  padding: 100px 0; 
  
}
.Ada {
  width: 600px;
  text-align: center;
  font-family: cursive;
  margin: 100px auto;

}
.contact {
  padding: 20px;
  margin: 10px;

}
.contact-links {
  display: flex;
  justify-content: flex-start;
 
}




/* PORTFOLIO FILE */
.project-img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  display: flex;


}
.ada-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;


}


/* HOBBY FILE */

.hobby-class {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  margin: 100px;

}
.hobby {
  padding: 30px;

}
.food-img {
  width: 50%;
  height: auto;
  border-radius: 50%;

}



/*ABOUT FILE*/
.about-class{
  width: 1000px;
  text-align: center;
  margin: 40px auto;

}
.Home {
  background-color: darkslategray;
}

