*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.nav-header {
  height: 90px;
  background-color: black;
  color: white;
  display: flex;
}

.nav-header__logo {
  padding: 30px ;
  color: pink;
}

.nav-header__menu {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 1.15rem;
  font-weight: 600;
}

.nav-header__menu li {
  padding: 30px 20px;
}

.push {
  margin-left: auto;
}

.big-image {
  background-image: url(/img/Seattle.jpg);
  height: 45vh;
  background-size: cover;
  background-position: center;
}