
body {
  margin: 0 auto;
  font-size: 18px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
}

main {
  padding: 4em 1em;
}

main.strong {
  color: #333
}

main a {
  border-bottom: 2px dashed #AAAAAA;
  text-decoration: none;
  color: #0074D9;
}

main a:hover {
  color: #7FDBFF;
}

main a:active {
  color: #39CCCC;
}

main a:visited {
  color: #AAAAAA;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 1em;
  padding-top: 1em;
  color: #001f3f;
}

nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  font-size: 20px;
  padding: 10px 20px;
  background: #39CCCC;
  color: #FFF;
}

.nav-link {
  display: inline-block;
  margin: 0 0.2em;
  padding: 3px 5px;
  background: #0074D9;
  border-radius: 2px;
  transition: all 0.3s ease-out; 
  text-decoration: none;
  font-weight: bold;
  color: #FFF;
}

nav .left {
  justify-content: flex-end;
}

header {
  align-content: center;
}

footer {
  font-size: 12px;
  padding: 20px 20px;
  background: #39CCCC;
  color: #FFF
}