
body {
  background-image: url(../images/leaves.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center
}

.content-container {
  display: grid;
  grid-template: 1fr 1fr 1fr
}

#about {
 grid-column-start: 2;
}

#project {
 grid-column-start: 3;
}

#blog {
  grid-column-start: 4 ;
}

.contacts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}