header {
  background-color: #e3e2de;
}
.header-img {
  display: block;
  margin: auto;
  width: 60%;
  padding: 20px;
}

nav{
  background-color: black;
  text-align: center;
}

nav a {
  color: white;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
}

.container {
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: 65% 60%;
  background-color: #e3e2de;
}
.index-img {
  width: 100%;
  background-color: #e3e2de;
}

.quick-bio{
 width: 100%;
 margin-top: 100px;
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
footer a {
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}