/* Global styles */
body {
  margin: 0 auto;
  font-size: 18px;
  color: #333;
  font-family: "Roboto", sans-serif;
  line-height: 1.25;
}

/* Heading styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  margin-top: 1em;
  padding-top: 1em;
  color: #001f3f;
}

h1.intro {
  
}

/* Nav styling */
header {
  width: 100%;
  position: fixed;
  font-size: 20px;
  padding: 20px 0px;
  background: #39cccc;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  align-items: baseline;
  list-style-type: none;
}

.nav-link {
  margin: 0 0.2em;
  padding: 3px 5px;
  background: #0074d9;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.nav-link:hover {
  background: #7fdbff;
}

/* Main styling */
main {
  padding: 4em 1em;
}

main.strong {
  color: #333;
}

/* Main link styling */
main a {
  border-bottom: 1px dashed #aaaaaa;
  text-decoration: none;
  color: #0074d9;
}

main a:hover {
  color: #7fdbff;
}

main a:active {
  color: #39cccc;
}

main a:visited {
  color: #aaaaaa;
}

/* Footer styling */
footer {
  font-size: 12px;
  padding: 20px 20px;
  background: #39cccc;
  color: #fff;
}

/* About */
img.profile {
  padding: 10px;
  border-radius: 8px;
  max-width: 250px;
  height: auto;
}

/* Main Flex styling */ 
main .flex-container {
  display: flex;
  justify-content: center;
}
