/* footer */
footer {
  z-index: 2;
}

footer > .contact {
  background-color: #fff;
  opacity: 0.6;
  display: flex;
  justify-content: flex-end;  
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0 25px 10px 0;
  list-style: none;
}

footer img {
  width: 15px;
  align-self: center;
  justify-self: center;
  padding: 0 5px 0 20px;
}


.contact ul {
  margin-right: 20px;
  padding-bottom: 20px;
}

.contact li {
 margin-top: 5px;
}

.contact li:last-of-type {
  margin-right: 20px;
 }

.contact li a {
  text-decoration: none;
  color: #000;
}

.contact li a:hover {
  text-decoration: underline;
}

#copyright {
  position: fixed;
  left: 50px;
}

@media only screen and (max-width: 600px) {
  .contact li {
    padding-left: 20px;
  }

  footer {
    padding: 0; 
    height: auto;
  }

  #copyright {
    left: 10px;
  }
}