/* footer */
footer {
  z-index: 2;
}

footer > .contact {
  background-color: #fff;
  opacity: 0.3;
  display: flex;
  justify-content: flex-end;  
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding-bottom: 10px;
  list-style: none;
}

footer img {
  width: 15px;
  align-self: center;
  justify-self: center;
  padding: 0 5px 0 20px;
}


.contact ul {
  margin-right: 20px;
  padding-bottom: 20px;
}

.contact li {
 margin-top: 20px;
}

.contact li:last-of-type {
  margin-right: 20px;
 }

.contact li a {
  text-decoration: none;
  color: #000;
}

.contact li a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 380px) {
  footer img {
    visibility: hidden;
  }
  .contact li {
    padding-left: 20px;
  }
}