body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro{
  background-color: gray;
}

.intro ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray
}

.intro li {
  float: left;
}

.intro li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.intro li a:hover {
  background-color: lightgray;
}

.active {
  background-color: lightsalmon;
}

/* hobbies */

.gardening img, .hiking img, .coding img, .champing img, .cooking img{
  width: 50%;
}

.hobbies{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 2em;
}

.gardening{
  grid-column: 1;
  grid-row: 1;
}

.gardening-text{
  grid-column: 2;
  grid-row: 1;
  padding: 4em;
  
}

.coding{
  grid-column: 1;
  grid-row: 2;
}

.coding-text{
  grid-column: 2;
  grid-row: 2;
  padding: 4em;
  
}

.hiking{
  grid-column: 1;
  grid-row: 3;
}

.hiking-text{
  grid-column: 2;
  grid-row: 3;
  padding: 4em;
}
.champing{
  grid-column: 1;
  grid-row: 4;
}

.champing-text{
  grid-column: 2;
  grid-row: 4;
  padding: 4em;
}

.cooking{
  grid-column: 1;
  grid-row: 5;
}

.cooking-text{
  grid-column: 2;
  grid-row: 5;
  padding: 4em;
}

