* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-container {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  margin: 0 auto;
  width: 900px;
}

@media (max-width: 899px) {
  .main-container {
    padding-left: 1rem;
    width: 500px;
  }
}

.header-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header-links-container {
  display: flex;
  justify-content: flex-start;
}

.link {
  margin-right: 40px;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: #777;
}

a:hover {
  color: chocolate;
}

.content-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .content-container {
    flex-direction: row;
  }
}

.greeting-container {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.greeting-container-header {
  padding-bottom: 1.5rem;
  line-height: 2rem;
}

.greeting-container-text {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.image-container {
  /* box-shadow: 0 10px 6px -6px #777; */
}

.circle {
  /* border-radius: 50%; */
  opacity: 0.8;
}

.footer-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 899px) {
  .footer-container {
    justify-content: flex-start;
    width: 500px;
  }
}

img.github {
  width: 3rem;
  height: 3rem;
  opacity: 0.6;
  margin-right: 0.5rem;
}

img.linkedin {
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
  margin-right: 0.9rem;
}

img.gmail {
  width: 2rem;
  height: 2rem;
  opacity: 0.6;
}