/* main */
#job-title {
  position: relative;
  top: 100px;
  margin: 50px 50px 50px 80px;
  text-transform: uppercase;
  font-size: 28px;
  /* color: #767c7c; */
  color: rgba(0, 0, 0, 0.726);
}

.main-container {
  position: relative;
  top: 80px;
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "a p p p p p p p p p p p p"
  "b p p p p p p p p p p p p";
  margin: 50px 80px 50px 80px;
}

.main-container section h2 {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.main-container > section > h2 > a {
  text-decoration: none;
  color: #000;
}

.main-container > section > h2 > a:hover {
  text-decoration: underline;
}

#about {
  background-color: #148296;
  grid-area: a;
  vertical-align: middle;
  height: 250px;
  line-height: 250px;
}

#portfolio {
  background-color: #E4C974;
  grid-area: p;
  vertical-align: middle;
  height: 500px;
  line-height: 500px;
}

#blog {
  background-color: #CFBBAE;
  grid-area: b;
  vertical-align: middle;
  height: 250px;
  line-height: 250px;
}


@media only screen and (max-width: 768px) {
  #job-title {
    font-size: 23px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  }


  #about, #portfolio, #blog {
    height: 300px;
    line-height: 300px;
    justify-self: center;
  }

  #about:hover img { 
    margin-top: 55px;
    width: 300px;
  }

  #job-title {
    font-size: 14px;
    margin-left: 10px;
  }

  @keyframes typewriter {
    0%, 100% {
      width: 1em;
    }
    20%, 80% {
      width: 28.3em;
    }
  }
}

/* Reference: https://medium.com/@valentyn.vasylenko/typewriter-effect-with-alternating-text-in-pure-css3-72cf0c7e6c5 */
/* I used animation code thanks to the link above: */

/* animation  */
@keyframes typewriter {
  0%, 100% {
    width: 1em;
  }
  20%, 80% {
    width: 25.3em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#job-title {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  animation: typewriter;
  animation-duration: 20s;
  animation-timing-function: steps(40);
  animation-iteration-count: infinite;
}


#job-title::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
} 
